// Container
@mixin container(
  $max-width: $container-max-width,
  $offset: var(--container-offset)
) {
  max-width: $max-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: $offset;
  padding-left: $offset;
}

// fonsts
@mixin h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
  font-weight: $font-weight-medium;
  letter-spacing: -3.5px;
}

@mixin h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  font-weight: $font-weight-medium;
  letter-spacing: -1.5px;
}

@mixin h3 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  font-weight: $font-weight-medium;
  letter-spacing: 0.52px;
}

@mixin p {
  font-size: var(--font-size-p);
  line-height: var(--line-height-p);
  font-weight: $font-weight-medium;
}

@mixin body-m {
  font-size: var(--font-size-body-m);
  line-height: var(--line-height-body-m);
  font-weight: $font-weight-regular;
}

@mixin body-s {
  font-size: var(--font-size-body-s);
  line-height: var(--line-height-body-s);
  font-weight: $font-weight-regular;
}

@mixin link-m {
  font-size: var(--font-size-link-m);
  line-height: var(--line-height-link-m);
  font-weight: $font-weight-medium;
}

@mixin link-s {
  font-size: var(--font-size-link-s);
  line-height: var(--line-height-link-s);
  font-weight: $font-weight-medium;
}

@mixin nav-link {
  font-size: var(--font-size-nav-link);
  line-height: var(--line-height-nav-link);
  font-weight: $font-weight-medium;
}

@mixin caption {
  font-size: var(--font-size-caption);
  line-height: var(--line-height-caption);
  font-weight: $font-weight-medium;
}

@mixin disclaimer {
  font-size: var(--font-size-disclaimer);
  line-height: var(--line-height-disclaimer);
  font-weight: $font-weight-regular;
}

// UI
@mixin buttonStyles {
  @include link-m;

  width: fit-content;
  height: fit-content;
  padding: 17px 28px 18px;

  border-radius: 80px;
  background-color: $color-black;

  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.05) translateY(-2px);
  }
}

@mixin blueGradientText {
  background: linear-gradient(
    338.26deg,
    #8fc1ff -41.31%,
    #bae8f5 51.47%,
    #b8f4f2 123.84%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #8fc1ff; /* Фолбэк */
}
